---
layout: home
adsense: false
regenerate: true
---

<section class="banner bg-cover" style="background-image:url(/assets/images/banner/banner-bg.svg)">
    <img src="/assets/images/banner/illustration.svg" class="img-fluid illustration" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h1>Développeur Full Stack en freelance. Transformer vos idées en applications.</h1>
                <p>
                    J'aide les entreprises à créer leurs produits numériques et à transformer leurs idées en une expérience fonctionnelle et agréable.
                </p>
            </div>
            <div class="col-lg-6 illustration-mobile">
                <img src="/assets/images/banner/illustration.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<div class="blog-face">
    <div class="contact">
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">GitHub</a>
        {% endif %}
        {% if site.email %}
        <a href="mailto:{{ site.email }}">Email</a>
        {% endif %}
        <a href="{{ " /feed.xml" | prepend: site.baseurl }}">RSS</a>
    </div>
</div>
<div>
    <H3 class="indent">Actualités</H3>
    <ul class="post-list">
        {% assign documents = site.wiki | sort: 'updated' | reverse %}
        {% for doc in documents limit: 30 %}
        {% if doc.public == true and doc.title != 'wiki'%}
        <li>
            <div>
                <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">
                    <div class="post-meta">
                        {{ doc.updated | date: "%Y.%m.%d" }}
                        -
                        {{ doc.title }}
                    </div>
                    <div class="post-excerpt">{{ doc.summary }}</div>
                    <ul class="tag-list">
                        <li class="post-tag">
                            {{ doc. tag }}
                        </li>
                    </ul>
                </a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <h4>
        <a href="/recent/">Voir la liste complète des éléments ({{ site.wiki | size | minus: 1 }} éléments)</a>
    </h4>
</div>
{% include createLink.html %}